# Module 12 Challenge
## Deliverable 3: Scrape Mars Facts Table

In [2]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import matplotlib.pyplot as plt
import pandas as pd
import requests

In [3]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

### Step 1: Visit the Website

Visit the Mars Facts webpage (https://galaxyfacts-mars.com) and use Pandas to scrape the table containing facts about the planet including diameter, mass, etc.


Use Pandas to convert the data to a HTML table string.

In [4]:
# Visit the website
url = "https://galaxyfacts-mars.com/"

In [5]:
page = requests.get(url)

In [6]:
page.status_code

200

In [7]:
browser.visit(url)
html = browser.html
soup = bs(html, "html.parser")

In [8]:
table = soup.find_all("table", class_="table")[0]
table

<table class="table">
<tbody>
<tr>
<th scope="row"><b> Mars - Earth Comparison</b></th>
<td><span class="orange"><b> Mars</b></span></td>
<td><span class="purple"> <b>Earth </b></span> </td>
</tr>
<tr>
<th scope="row">Diameter:</th>
<td><span class="orange">6,779 km</span></td>
<td><span class="purple">12,742 km</span> </td>
</tr>
<tr>
<th scope="row">Mass:</th>
<td><span class="orange">6.39 × 10^23 kg </span></td>
<td><span class="purple">5.97 × 10^24 kg</span> </td>
</tr>
<tr>
<th scope="row">Moons:</th>
<td><span class="orange">2</span></td>
<td><span class="purple">1</span> </td>
</tr>
<tr>
<th scope="row">Distance from Sun:</th>
<td><span class="orange">227,943,824 km</span></td>
<td><span class="purple">149,598,262 km</span> </td>
</tr>
<tr>
<th scope="row">Length of Year:</th>
<td><span class="orange">687 Earth days</span></td>
<td><span class="purple">365.24 days</span> </td>
</tr>
<tr>
<th scope="row">Temperature:</th>
<td><span class="orange">-87 to -5 °C</span></td>
<td><span class="purple">	-88 to 58°C</span> </td>
</tr>
</tbody>
</table>

In [9]:
table_header = [i.text for i in table("th")]
mars_column = [i.text for i in table("span", class_="orange")]
earth_column = [i.text for i in table("span", class_="purple")]

In [10]:
table_df = {"Description": table_header, "Mars": mars_column, "Earth": earth_column}

In [11]:
df = pd.DataFrame(table_df)

In [12]:
table_df

{'Description': [' Mars - Earth Comparison',
  'Diameter:',
  'Mass:',
  'Moons:',
  'Distance from Sun:',
  'Length of Year:',
  'Temperature:'],
 'Mars': [' Mars',
  '6,779 km',
  '6.39 × 10^23 kg ',
  '2',
  '227,943,824 km',
  '687 Earth days',
  '-87 to -5 °C'],
 'Earth': [' Earth ',
  '12,742 km',
  '5.97 × 10^24 kg',
  '1',
  '149,598,262 km',
  '365.24 days',
  '\t-88 to 58°C']}

In [13]:
df.set_index("Description", inplace=True)
df["Earth"] = df["Earth"].str.replace("\t", "")
comparison_table = df.to_html(classes="table table-striped")

In [14]:
df

                                      Mars            Earth
Description
 Mars - Earth Comparison              Mars           Earth
Diameter:                         6,779 km        12,742 km
Mass:                     6.39 × 10^23 kg   5.97 × 10^24 kg
Moons:                                   2                1
Distance from Sun:          227,943,824 km   149,598,262 km
Length of Year:             687 Earth days      365.24 days
Temperature:                  -87 to -5 °C      -88 to 58°C

In [15]:
browser.quit()